[submodule "GrayscaleImageViewerForMatlab"]
	path = GrayscaleImageViewerForMatlab
	url = https://github.com/henrikmidtiby/GrayscaleImageViewerForMatlab
[submodule "ProgressIndicatorMatlab"]
	path = ProgressIndicatorMatlab
	url = git@github.com:henrikmidtiby/ProgressIndicatorMatlab.git
[submodule "ImageViewer"]
	path = ImageViewer
	url = git@github.com:thgis/ImageViewer.git
